.shop {
    height: calc(100vH - 70px);
    background-color: var(--gray-5);
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--size-3);
    &__title-mobile {
        display: flex;
        margin: var(--size-2) 0 0 var(--size-3);
        height: 40px;
        align-items: stretch;
        & h2 {
            font-size: 1.25rem;
            font-weight: normal;
            background-color: var(--violet-10);
            color: #fff;
            padding: 0 var(--size-3);
            line-height: 40px;
            border-radius: var(--radius-3) 0 0 var(--radius-3) ;
        }
        & button {
            height: 100%;
            font-size: 1.25rem;
            color: var(--violet-10);
            background-color: #fff;
            border: 2px solid var(--violet-10);
            padding: 0 var(--size-3);
            border-radius: 0 var(--radius-3) var(--radius-3) 0;
        }
    }
}