.order-item {
    display: grid;
    width: var(--size-fluid-12);
    grid-template-columns:  auto minmax(var(--size-11), var(--size-12));
    gap: var(--size-2) var(--size-3);
    border-radius: var(--radius-3);
    padding: var(--size-3);
    background-color: var(--gray-2);
    align-content: center;
    &__image {
        grid-row: 1 / 4;
        min-width: var(--size-11);
        max-width: var(--size-13);
        width: 100%;
        
        & > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__title {
        font-size: 1.25rem;
        grid-column: 2 / 3;
        color: var(--violet-10);
    }
    &__price {
        grid-column: 2 / 3;
    }
    &__count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-column: 2 / 3;
        border: 2px solid var(--violet-10);
        text-transform: capitalize;
        font-size: inherit;
        font-family: inherit;
        color: var(--violet-10);
        padding: var(--size-1) var(--size-2);
        letter-spacing: var(--font-letterspacing-3);
        transition: all 0.3s; 
        align-self: end;
        &-num {
            font-weight: 500;
        }
        &-control {
            width: 2rem;
            height: 2rem;
            display: grid;
            place-items: center;
            background-color: none;
            border: none;
            border-radius: var(--radius-round);
            transition: all 0.3s;
            &:hover, &:focus {
                background-color: var(--violet-10);
                color: #fff;
            }

        }
    }
}